<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h3>{{ type === 'username' ? 'Cambia Username' : 'Cambia Password' }}</h3>
            <button class="close-btn" (click)="closeModal()">&times;</button>
        </div>

        <form class="settings-form" [formGroup]="credForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label>Password Attuale (Richiesta)</label>
                <input type="password" formControlName="currentPassword" placeholder="La tua password attuale" required>
            </div>

            @if (type === 'username') {
            <div class="form-group">
                <label>Nuovo Username</label>
                <input type="text" formControlName="newUsername" placeholder="Il nuovo username desiderato">
            </div>
            }

            @if (type === 'password') {
            <div class="form-group">
                <label>Nuova Password</label>
                <input type="password" formControlName="newPassword" placeholder="Scegli una nuova password">
            </div>

            <div class="form-group">
                <label>Conferma Nuova Password</label>
                <input type="password" formControlName="confirmPassword" placeholder="Conferma la nuova password">
            </div>
            }

            @if (updateError) { <p class="alert error-msg">{{ updateError }}</p> }
            @if (updateMessage) { <p class="alert success-msg">{{ updateMessage }}</p> }

            <div class="modal-actions">
                <button type="button" class="btn btn-secondary" (click)="closeModal()"
                    [disabled]="isUpdatingPassword">Annulla</button>
                <button type="submit" class="btn btn-primary"
                    [disabled]="isUpdatingPassword || credForm.invalid || !credForm.get('currentPassword')?.value">
                    {{ isUpdatingPassword ? 'Salvataggio...' : 'Conferma Modifiche' }}
                </button>
            </div>
        </form>
    </div>
</div>